html, body {
    height: 100%;            /* Set height to 100% for html and body */
    margin: 0;              /* Remove default margin */
    padding: 0;             /* Remove default padding */
    box-sizing: border-box; /* Ensure padding and border are included in total height and width */
    background-color: #eeee;
  }